@import '../utils/vars';

/* Widgets */
// Product Search
.widget_product_search {
    .search-field {
        margin-bottom: 5px;
    }
}

/* Shop Add-to-cart button */
.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {
    background-color: $color_primary;
    color: #FFFFFF;
    border-radius: 2px;
    font-weight: 600;
    &:hover {
        background-color: $color_primary;
        box-shadow: inset 0 0 0 120px rgba(0,0,0,0.18);
        color: #FFF;
    }
}

/* Single Product Add-to-cart */
.woocommerce div.product form.cart .button {
    line-height: inherit;
}

/* Shop Alt Button */
.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
    background-color: $color_primary;
    &:hover {
        background-color: $color_primary;
        box-shadow: inset 0 0 0 120px rgba(0,0,0,0.18);
    }
}

/* Coupon Input */
#add_payment_method table.cart td.actions .coupon .input-text, .woocommerce-cart table.cart td.actions .coupon .input-text, .woocommerce-checkout table.cart td.actions .coupon .input-text {
    padding: 7px 6px 9px;
    min-width: 120px;
    background-color: #FFF;
}

/* Sale on badge */
.woocommerce span.onsale {
    padding: .202em .602em;
}

/* Disable button */
.woocommerce button.button:disabled[disabled] {
    color: #FFF;
}

/* Single Product */
.single-product div.product table.variations td, .single-product div.product table.variations th {
    display: list-item;
    padding: 0;
    list-style: none;
    background-color: transparent;
}
.single-product div.product .single_variation .price {
    margin-bottom: 1em;
    display: block;
}

/* My account navigation & content */
.woocommerce-account {
    .woocommerce-MyAccount-navigation {
        width: 24%;
        ul {
            list-style: none;
            margin-left: 0px;
            li {
                a {
                    display: block;
                    padding: 10px 0px 11px;
                    color: currentColor;
                    border-bottom: 1px solid $color_border;
                    &:hover {
                        color: $color_link;
                    }
                }
                &.is-active {
                    a {
                        color: $color_link;
                    }
                }
            }
        }
    }
    .woocommerce-MyAccount-content {
        width: 72%;
    }
}