/* Error: Module loop: this module is already being loaded.
 *    ,--> assets/sass/site/utils/_vars.scss
 * 1  | @use "mixins";
 *    | ^^^^^^^^^^^^^ new load
 *    '
 *    ,--> assets/sass/site/style.scss
 * 27 | @use "utils/mixins";
 *    | =================== original load
 *    '
 *   assets/sass/site/utils/_vars.scss 1:1    @use
 *   assets/sass/site/utils/_mixins.scss 3:1  @use
 *   assets/sass/site/style.scss 27:1         root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Module loop: this module is already being loaded.\a    \250c \2500 \2500 > assets/sass/site/utils/_vars.scss\a 1  \2502  @use "mixins";\a    \2502  ^^^^^^^^^^^^^ new load\a    \2575 \a    \250c \2500 \2500 > assets/sass/site/style.scss\a 27 \2502  @use "utils/mixins";\a    \2502  \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  original load\a    \2575 \a   assets/sass/site/utils/_vars.scss 1:1    @use\a   assets/sass/site/utils/_mixins.scss 3:1  @use\a   assets/sass/site/style.scss 27:1         root stylesheet';
}
