
/**
* Product description
 */
.product_meta {
    font-size: 0.875em;
    color: $color_meta;
    margin: 1em 0px;
    > span {
        display: block;
        padding: 6px 0px;
        border-top: 1px dotted $color_border;
    }
}

/**
* Single Product Tabs
 */

$tab_border_color: #666;
$tab_active_color: #d7883a;

.woocommerce-tabs {
    clear: both;
    ul.tabs {
        list-style: none;
        padding: 0;
        margin: 0 0 1em;
        position: relative;
        li {
            text-transform: uppercase;
            position: relative;
            a {
                font-weight: 700;
                color: currentColor;
                text-decoration: none;
                &:hover {
                    text-decoration: none;
                    color: inherit;
                }
            }
        }
    }
    &.wc-tabs-horizontal {
        ul.tabs {
            border-bottom: 2px solid $tab_border_color;
            li {
                border-bottom: 2px solid transparent;
                display: inline-block;
                position: relative;
                z-index: 0;
                padding: 0;
                margin: 0 1em -2px;
                &:first-child {
                    margin-left: 0px;
                }
                &:last-child {
                    margin-right: 0px;
                }
                a {
                    display: inline-block;
                    padding: 0.5em 0px;

                }
                &.active {
                    z-index: 2;
                    border-bottom-color: $tab_active_color;
                    a {
                        color: inherit;
                        text-shadow: inherit;
                    }

                }

            }
        }
    } // wc-tabs-horizontal

    &.wc-tabs-vertical {
        display: flex;
        .wc-tabs {
            flex-basis: 30%;
            margin-right: 2em;
            li {
                padding: 1em 0px;
                border-bottom: 2px solid $tab_border_color;
                &:first-child {
                    border-top: 2px solid $tab_border_color;
                }

                a {
                    display: block;
                }

                &:after {
                    content: '';
                    width: .8em;
                    height: .8em;
                    display: block;
                    position: absolute;
                    top: 50%;
                    right: .8em;
                    left: auto;
                    transform: rotate(45deg) translateY( -50% );
                    border-top: 1px solid $tab_border_color;
                    border-right: 1px solid $tab_border_color;
                    opacity: 0;
                    transition: all .3s ease;
                }

                &.active {
                    color: $tab_active_color;
                    &:after {
                        opacity: 1;
                        border-top-color:  $tab_active_color;
                        border-right-color:  $tab_active_color;
                    }
                }

            }
        }
        .wc-tabs-contents {
            flex-basis: 70%;
        }
    }

}

/**
* WooCommerce related heading
 */
.woocommerce-Reviews-title,
.related.products h2,
.cross-sells h2,
.cart_totals h2,
.wc-tab > h2
{
    font-size: 1.4em;
    margin-bottom: 1em;
}

.related.products h2 {
    margin-bottom: 0px;
}
