/**
 * Applies layout to the default WooCommerce frontend design
 */

/**
 * Styling begins
 */
.wc-product-inner {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 100%;
	.wc-product-footer {
		margin-top: auto;
		margin-bottom: 0px;
	}
	> div {
		flex: 1;
		flex-grow: 1;
		flex-shrink: 1;
		flex-basis: auto;
	}
	.wc-product-contents {
		display: flex;
		flex-direction: column;
	}
	.wc-product-media {
		position: relative;
		flex-shrink: initial;
		flex-grow: 0;
	}
	.wc-product__part {
		a {
			color: inherit;
			* {
				color: inherit;
			}
		}
		&:last-child {
			margin-top: auto;
			margin-bottom: 0px;
		}
	}

}

// Before listing Products
.wc-catalog-header {
	display: flex;
	align-items: center;
}
.wc-view-mod  {
	cursor: pointer;
	padding: 8px;
	border: 1px solid $color_border;
	line-height: 1;
	margin-right: 15px;
	svg {
		width: 1.2em;
		height: 1.2em;
		display: inline-block;
		fill: currentColor;
	}
	&.active {
		color: $color_primary;
		border-color: $color_primary;
	}
}
.wc-view-switcher, .woocommerce-ordering, .woocommerce-result-count {
	margin-bottom: 0;
	display: flex;
	align-items: center;
}

.woocommerce-ordering {
	border: 1px solid $color_border;
	padding: 8px 15px;
	margin-right: 15px;
	select {
		border: 0px solid transparent;
		background: transparent;
	}
}
.woocommerce-result-count {
	margin-left: auto;
}


.wc-loop-cats-separator {
	clear: both !important;; flex: none !important;
	display: block !important;
	width: 100%;
}

// List view

.woocommerce-listing {
	&.wc-grid-view {
		.hide-in-grid {
			display: none;
		}
	}
	&.wc-list-view {
		.hide-in-list {
			display: none;
		}
		.products {
			.product {
				&.customify-col:not(.product-category) {
					width: 100%;
					flex: none;
					max-width: 999999px;
					.wc-product-inner {
						flex-direction: row;
						.wc-product-media {
							flex-basis: 32%;
							margin-right: 2em;
						}
						.wc-product-contents {
							flex-basis: 68%;
							display: inline-block;
							flex-direction: column;
						}
					}
				}
			}
		}
	}
}




.woocommerce, .woocommerce-page {

	.woocommerce-message,
	.woocommerce-error,
	.woocommerce-info {
		.button {
			float: right;
		}
	}

	/**
	 * General layout styles
	 */
	.col2-set {
		@include clearfix();
		width: 100%;

		.col-1 {
			float: left;
			width: 48%;
		}
		.col-2 {
			float: right;
			width: 48%;
		}
	}

	img {
		height: auto;
		max-width: 100%;
	}

	/**
	 * Product page
	 */
	div.product,
	#content div.product {
		div.images {
			float: left;
			width: 48%;
			@include for_device( mobile ){
				width: 100%;
				float: none;
				order: 5;
			}
		}

		div.thumbnails {
			@include clearfix();

			a {
				float: left;
				width: 30.75%;
				margin-right: 3.8%;
				margin-bottom: 1em;
			}

			a.last {
				margin-right: 0;
			}

			a.first {
				clear: both;
			}

			&.columns-1 {
				a {
					width: 100%;
					margin-right: 0;
					float: none;
				}
			}

			&.columns-2 {
				a {
					width: 48%;
				}
			}

			&.columns-4 {
				a {
					width: 22.05%;
				}
			}

			&.columns-5 {
				a {
					width: 16.9%;
				}
			}
		}

		div.summary {
			float: right;
			width: 48%;
			clear: none;

			@include for_device( mobile ){
				order: 1;
				width: 100%;
				float: none;
			}
		}

		#reviews {
			.comment {
				@include mediaright();
			}
		}
	}


	.woocommerce-pagination {
		ul.page-numbers {
			@include menu();
		}
	}

	/**
	 * Cart page
	 */
	table.cart,
	#content table.cart {
		img {
			height: auto;
		}

		td.actions {
			text-align: right;

			.input-text {
				width: 80px;
			}

			.coupon {
				float: left;

				label {
					display: none;
				}
			}
		}
	}

	.cart-collaterals {
		@include clearfix();
		width: 100%;

		.related {
			width: 30.75%;
			float: left;
		}

		.cross-sells {
			width: 48%;
			float: left;

			ul.products {
				float: none;

				li {
					width: 48%;
				}
			}
		}

		.shipping_calculator {
			width: 48%;
			@include clearfix();
			clear: right;
			float: right;

			.col2-set {
				.col-1,
				.col-2 {
					width: 47%;
				}
			}
		}

		.cart_totals {
			float: right;
			width: 48%;
		}
	}


	/**
	 * Forms
	 */
	form {
		.form-row {
			@include clearfix();

			label {
				display: block;

				&.checkbox {
					display: inline;
				}
			}

			select {
				width: 100%;
			}

			.input-text {
				box-sizing: border-box;
				width: 100%;
			}
		}

		.form-row-first,
		.form-row-last {
			width: 47%;
			overflow: visible;
		}

		.form-row-first {
			float: left;

			/*rtl:raw:
			float: right;
			*/
		}

		.form-row-last {
			float: right;
		}

		.form-row-wide {
			clear: both;
		}
	}

	#payment {
		.form-row {
			select {
				width: auto;
			}
		}

		.wc-terms-and-conditions, .terms {
			text-align: left;
			padding: 0 1em 0 0;
			float:left;
		}

		#place_order {
			float: right;
		}
	}

	.woocommerce-billing-fields,
	.woocommerce-shipping-fields {
		@include clearfix();
	}

	.woocommerce-terms-and-conditions {
		margin-bottom: 1.618em;
		padding: 1.618em;
	}

	/**
	 * oEmbeds
	 */
	.woocommerce-oembed {
		position: relative;
	}
}

.woocommerce-account {
	.woocommerce-MyAccount-navigation {
		float: left;
		width: 30%;
	}

	.woocommerce-MyAccount-content {
		float: right;
		width: 68%;
	}
}

/**
 * RTL styles.
 */
.rtl {
	.woocommerce, .woocommerce-page {
		.col2-set {
			.col-1 {
				float: right;
			}
			.col-2 {
				float: left;
			}
		}
	}
}
