// Modular Scale settings
$ms-base:       1em, 0.875em;
$ms-ratio:      1.618;

// Site Fonts
$font_main:     -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
$font_heading:  $font_main;
$font_code:     Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font_pre:      "Courier 10 Pitch", Courier, monospace;

$container_width: 75em; // 1200px;

// Background
$background_body: #ffffff;

// Colors
$color_text:        #555555;
$color_primary:     #c3512f;
$color_secondary:   $color_primary;
$color_link:        #c3512f;
$color_link_hover:  #c3512f;
$color_border:      #eaecee;

// Screen resolutions
$screen_lg: 80em;   // max 1280px
$screen_md: 64em;   // max 1024px
$screen_sm: 48em;   // max 768px
$screen_xs: 35.5em; // up to 568px



