/* Site Footer */
.site-footer {
    background: #f5f5f6;
    position: relative;
    z-index: 10;
    .item--inner {
        width: 100%;
        max-width: 100%;
    }
}



.footer-bottom {
    background: #ededed;
}

.footer--row {
    &.layout-fullwidth {
        .customify-container {
            max-width: initial;
        }
    }
    .builder-item--group {
        justify-content: flex-start;
        .item--inner {
            width: auto;
            @include for_device( tablet ) {
                display: block;
                margin-bottom: 25px;
                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
    }
    [class~="customify-grid"] > [class*="_sm-"], [class*="customify-grid-"] > [class*="_sm-"],
    [class*="customify-grid_"] > [class*="_sm-"] {
        margin-bottom: 0px;
    }
}

.footer-main, .footer-top {
    .customify-container {
        padding-top: 45px;
        padding-bottom: 45px;
    }

}
.footer-bottom {
    .customify-container {
        padding-top: ms(2);
        padding-bottom: ms(2);
    }
}

/*  FOOTER WIDGETS */
@include for_device( sm ) {
    .site-footer {
        .builder-item {
            margin-bottom: 25px;
        }
    }

}

.site-footer {
    p{
        &:last-child {
            margin-bottom: 0px;
        }
    }
    ul, li {
        padding: 0px;
        list-style: none;
        margin: 0px;
    }

    ul ul {
        margin-left: 2.617924em;
    }
}

.footer-copyright {
    font-size: 15px;
}
