/* Site Footer */
.site-footer {
    background: #f5f5f6;
    position: relative;
    z-index: 10;
    .item--inner {
        width: 100%;
        max-width: 100%;
    }
}

.footer-bottom {
    background: #ededed;
}

.footer--row {
    &.layout-fullwidth {
        .customify-container {
            max-width: initial;
        }
    }
    .builder-item--group {
        justify-content: flex-start;
        .item--inner {
            width: auto;
            @include for_device( tablet ) {
                display: block;
                margin-bottom: 2em;
                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
    }
}

.footer-main, .footer-top, .footer-bottom {
    .builder-item {
        &:last-child {
            margin-bottom: 0;
        }
        .widget-area {
            .widget {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    @include for_device( mobile ) {
        .builder-item--footer_copyright,
        .builder-item--footer-social-icons {
            text-align: center;
        }
    }
}

.footer-top, .footer-main {
    .customify-container {
        padding-top: 3em;
        padding-bottom: 3em;
    }
}

.footer-bottom {
    .customify-container {
        padding-top: 2em;
        padding-bottom: 2em;
    }
    .builder-item {
        @include for_device( mobile ) {
            margin-bottom: ms(2);
            &:last-child {
                margin-bottom: 0;
            }
        }

    }
}

@include for_device( sm ) {
    .site-footer {
        .builder-item {
            margin-bottom: 2em;
        }
    }

}

.site-footer {
    p {
        &:last-child {
            margin-bottom: 0px;
        }
    }
    ul, li {
        list-style: none;
        margin: 0px;
    }

    ul ul {
        margin-left: 2.617924em;
    }
}

.footer-copyright {
    font-size: 0.95em;
    font-weight: 500;
}
