.site-footer {
    padding: ms(6) 0px;
    border-top: 1px solid $color_border;
    background: darken($background_body, 3%);
}
.site-info {
    margin-top: ms(3);
    padding-top: ms(3);
    border-top: 1px solid darken($background_body, 10%);
}
.footer--row {
    &.layout-fullwidth {
        .customify-container {
            max-width: initial;
        }
    }
}
