/* HTML 1 */
.item--html {
    p {
        font-weight: var(--customify-typo-header-html-font-weight, 500);
        text-transform: var(--customify-typo-header-html-text-transform, uppercase);
        font-size: var(--customify-typo-header-html-font-size, 13px);
        font-family: var(--customify-typo-header-html-font-family, inherit);
        line-height: var(--customify-typo-header-html-line-height, inherit);
        letter-spacing: var(--customify-typo-header-html-letter-spacing, normal);
        text-decoration: var(--customify-typo-header-html-text-decoration, none);
        font-style: var(--customify-typo-header-html-font-style, normal);
        &:last-child {
            margin-bottom: 0px;
        }
    }
}