/* Error: Module loop: this module is already being loaded.
 *   ,--> assets/sass/site/utils/_mixins.scss
 * 3 | @use "vars";
 *   | ^^^^^^^^^^^ new load
 *   '
 *   ,--> assets/sass/admin/editor.scss
 * 2 | @import "../site/utils/vars";
 *   |         ==================== original load
 *   '
 *   assets/sass/site/utils/_mixins.scss 3:1  @use
 *   assets/sass/site/utils/_vars.scss 1:1    @import
 *   assets/sass/admin/editor.scss 2:9        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Module loop: this module is already being loaded.\a   \250c \2500 \2500 > assets/sass/site/utils/_mixins.scss\a 3 \2502  @use "vars";\a   \2502  ^^^^^^^^^^^ new load\a   \2575 \a   \250c \2500 \2500 > assets/sass/admin/editor.scss\a 2 \2502  @import "../site/utils/vars";\a   \2502          \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501 \2501  original load\a   \2575 \a   assets/sass/site/utils/_mixins.scss 3:1  @use\a   assets/sass/site/utils/_vars.scss 1:1    @import\a   assets/sass/admin/editor.scss 2:9        root stylesheet';
}
