$cb_padding: 20px;

._beacon--customize-builder {
    position: fixed;
    bottom: 0px;
    width: 100%;
    max-width: 100%;
    left: 0px;
    height: 500px;
    display: block;
    background: $bg;
    border-top: $border;
    * {
        box-sizing: border-box;
    }
    ._beacon--cb-inner {
        margin-left: 300px;
        height: 100%;
        display: block;
        overflow: auto;
    }
}
._beacon--cb-body {
    position: relative;
}
._beacon--device-panel {
    @include clearfix();
    min-height: 270px;
    display: block;
    z-index: 4;
    position: relative;
    //background: #DDDDDD;


    &._beacon--panel-hide {
        opacity: 0;
        height: 1px;
        overflow: hidden;
        display: block;
        z-index: 1;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
    }


    &._beacon--panel-desktop {
        ._beacon--cp-sidebar {
            display: none;
        }
    }
    &._beacon--panel-mobile {
        ._beacon--cp-rows {
            width: 60%;
            float: right;
            padding-left: 5px;
        }
        ._beacon--cp-sidebar {
            width: 40%;
            padding-right: 5px;
            float: left;
        }
    }
}

._beacon--cb-header {
    padding: $cb_padding;
    @include clearfix();
    ._beacon--cb-devices-switcher {
        float: left;
        a {
            display: inline-block;
            margin-right: 10px;
            &._beacon--tab-active {
                font-weight: bold;
            }
        }
    }
    ._beacon--cb-actions {
        float: right;
        a {
            display: inline-block;
        }
    }
}
._beacon--cb-body {
    padding: $cb_padding;
    position: relative;
    z-index: 4;
}
._beacon--cb-footer {
    position: relative;
    z-index: 5;
}
._beacon--cb-row {
    padding: 0px 0 0 40px;
    position: relative;
    border: $border;
    display: block;
    margin-bottom: 25px;
    &:last-child {
        margin-bottom: 0px;
    }
    @include clearfix;
    ._beacon--cb-row-settings {
        position: absolute;
        top: 0px;
        left: 0px;
    }
    ._beacon--cb-items {
        display: block;
        min-height: 45px;
    }
    ._beacon--row-inner {
        display: table;
        width: 100%;
        ._beacon--cb-items {
            display: table-row;
            width: 100%;
        }
        ._beacon--p-cell {
            min-height: 40px;
            padding: 5px;
            display: table-cell;
            position: relative;
            width: 33.33333333%;
            &:last-child {
                width: auto;
            }
            .ui-resizable-handle {
                position: absolute;
                top: 0px;
                bottom: 0px;
                width: 4px;
                display: block;
                background: transparent;
                &.ui-resizable-e {
                    right: -2px;
                    cursor: col-resize;
                }
                &.ui-resizable-w {
                    left: -2px;
                    cursor: col-resize;
                }
            }
        }
        ._beacon--p-items {
            min-height: 40px;
            background: #ffffff;
        }
        .grid-stack-item {
            display: inline-block;
        }
    }

    .grid-stack-item-content {
        background: #fafafa;
        border: 1px solid #DDDDDD;
    }

    ._beacon--cb-item-name {
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0 35px 0 10px;
        display: block;
        line-height: 43px;
    }
    ._beacon--cb-item-add {
        display: none;
    }
}
.builder-item-moving {
    .ui-resizable-handle {
        display: none !important;
    }
}


._beacon-available-items {
    @include clearfix();
    clear: both;
    padding-top: $cb_padding ;
    &._beacon--panel-hide {
        height: 0px;
        overflow: hidden;
        display: block;
        visibility: hidden;
    }
    @include clearfix;
    .grid-stack-item {
        padding: 10px;
        float: left;
        border: $border;
        margin-right: 10px;
        cursor: pointer;
    }
    ._beacon--cb-item-setting, ._beacon--cb-item-remove {
        display: none;
    }
    ._beacon--cb-item-name {
        margin-right: 20px;
    }
}
.grid-stack > .grid-stack-item > .grid-stack-item-content {
    overflow: hidden !important;
}

.ui-sortable-placeholder{
    border: 1px dashed #CCCCCC !important;
}
.grid-stack-item {
    position: relative;
    height: 40px;
    display: inline-block;
    overflow: hidden;
    width: auto !important;
    background: #fafafa;
    ._beacon-cb-icon {
        position: absolute;
        &:before {
            -webkit-font-smoothing: antialiased;
            font: 400 20px/26px dashicons;
        }
    }

    ._beacon--cb-item-add {
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        &:before {
            content: "\f132";
        }
    }

    ._beacon--cb-item-remove {
        top: 50%;
        right: 5px;
        transform: translateY(-50%);
        &:before {
            content: "\f335";
        }
    }

    ._beacon--cb-item-setting {
        top: 50%;
        right: 30px;
        transform: translateY(-50%);
        &:before {
            content: "\f111";
        }
    }
}


._beacon--cb-items {
    padding: 0;
    .gs-w {
        background: #CCCCCC;
    }
}

