// Import custom controls
$border: 1px solid #ddd;
$bg: #EBEBEB;

@mixin clearfix {
    &:before, &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}

@import "control";
@import "builder";
@import "gridstack";

// Import header builder style
@import "header_builder";