// Import custom controls
$border: 1px solid #ddd;
$bg: #f1f1f1;
$builder_active_color: #0073aa;

@mixin clearfix {
    &:before, &:after {
        content: ""; 
        display: block;
        clear: both;
    }
    &:after {
        clear: both;
    }
}

@import "control";
@import "builder";
@import "gridstack";

// Import header builder style
@import "header_builder";