/* Button */
.customify-builder-btn {
    padding: ms(-4) ms(0);
    background: $color_primary;
    color: #FFFFFF;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: 1em;
    font-weight: 500;
    transition: transform .3s, border .3s, background .3s, box-shadow .3s, opacity .3s, color .3s;

    &:hover {
        color: #ffffff;
    }

    &.is-icon-before i {
        margin-right: 4px;
    }

    &.is-icon-after i {
        margin-left: 5px;
    }
}