/* Logo & Site Identity */
.site-branding {
    display: inline-block;
    line-height: .9;
    vertical-align: middle;
    a {
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 0.4px;
        font-weight: 600;
    }
    img {
        display: block;
        width: auto;
        line-height: 1;
    }
    .site-title {
        font-size: 1.7em;
        margin: 0;
        font-weight: 600;
        line-height: 1.216;
    }
    .site-description {
        font-size: ms(-1);
        margin: 4px 0px 7px 0px;
    }
}
.item-button {
    display: inline-block;
}