/* Search */
.builder-item--search_box {
	max-width: 100%;
}
.item--search_icon {
	line-height: 0px;
	cursor: pointer;
}
.search-icon {
	line-height: 0px;
	display: inline-block;
	position: relative;
	box-shadow: none;
	&:hover {
		box-shadow: none;
		color: currentColor;
	}
	svg {
		width: 18px;
		height: 18px;
	}
	.ic-close {
		display: none;
	}
}

.header-search_icon-item {
	position: relative;
	&.active {
		.search-icon {
			.ic-search {
				display: none;
			}
			.ic-close {
				display: inline-block;
			}
		}
	}
	.header-search-modal-wrapper {
		position: absolute;
		top: 100%;
		left: -0.9em;
		height: 0px;
		overflow: hidden;
		display: block;
		margin-top: -1px;
		transition: all 0.2s linear;
		transform: translateY(40px);
	}
	&.search-left {
		.header-search-modal-wrapper {
			left: auto;
			right: -0.9em;
		}
		.header-search-modal {
			&::before {
				left: auto;
				right: 15px;
			}
		}
	}
	&.active {
		.header-search-modal-wrapper {
			height: auto;
			overflow: initial;
			z-index: 26;
			transform: translateY(0);
			// transform: translateY( 0 );
		}
	}
}

// Apply for all search form at header
.header-search-form {
	display: flex;
	margin-bottom: 0px;
	width: 100%;
	max-width: 100%;
	label {
		flex-basis: 100%;
	}

	.search-form-fields{
		border: 1px solid;
		border-color: rgba(127, 127, 127, 0.2);
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
		border-radius: 2px;
	}
	.search-field {
		display: block;
		width: 100%;
		border-radius: 2px;
		height: 2.4em;

		&:focus{
			background-color: transparent;
		}
	}
	button.search-submit {
		overflow: hidden;
		box-shadow: none;
		margin-left: -40px;
		background: transparent;
		color: $color_meta;
		line-height: 0px;
		padding: 0px 0.7em;
		min-height: auto;
		&:hover {
			box-shadow: none;
			background-color: transparent;
			color: $color_text;
		}
		svg {
			width: 18px;
			height: 18px;
		}
	}
	input[type="submit"] {
		min-height: auto;
	}
}

.header-search_box-item {
	.header-search-form {
		.search-field {
			border: 0;
			box-shadow:none;
			background-color: transparent;
		}
	}
}

.header-search-modal {
	border: 1px solid $color_border;
	padding: 1.25em;
	background: #fff;
	width: 280px;
	@include for_device(mobile) {
		width: 220px;
	}
	position: relative;
	margin-top: 15px;
	box-shadow: $boxshadow_dropdown;
	label {
		flex-basis: 100%;
	}
	&::before {
		border-top: 1px solid $color_border;
		border-left: 1px solid $color_border;
		background: #fff;
		content: "";
		display: block;
		position: absolute;
		top: -8px;
		left: 15px;
		width: 15px;
		height: 15px;
		transform: rotate(45deg);
		z-index: 27;
	}
}

.woo_bootster_search {
	.header-search_box-item {
		.header-search-form {
			margin-bottom: 0px;
			width: 100%;
			max-width: 100%;
			display: flex;
			border: 1px solid;
			border-color: rgba(127, 127, 127, 0.2);
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12) inset;
			border-radius: 2px;
			height: 2.4em;
			line-height: 2.4em;
			overflow: hidden;
			.search-form-fields {
				background-color: transparent;
				min-height: auto;
				-ms-flex-preferred-size: 100%;
				flex-basis: 100%;
				display: flex;
				border-style: none;
				border: none;
				box-shadow:none;
			}
			.search-field {
				border-color: transparent;
				height: auto;
				background-color: transparent;
				border: 0;
				border-style: none;
				box-shadow: none;
				flex: 0 0 auto;
				&:focus {
					background: transparent;
				}
			}
			.search_product_cats {
				height: auto;
				border: 0;
				background-color: transparent;
				flex: 1 1 auto;
				width: auto;
				padding-right: 2em;
				position: relative;
				border-right: 1px solid rgba(127, 127, 127, 0.2);
				color: #6d6d6d;
				border-top: 0 !important;
				border-left: 0 !important;
				border-bottom: 0 !important;
			}
		}
	}
}
