/* Search */
.builder-item--search_box {
    max-width: 100%;
}
.item--search_icon {
    line-height: 0px;
    cursor: pointer;
}
.search-icon {
    line-height: 0px;
    display: inline-block;
    position: relative;
    box-shadow: none;
    &:hover {
        box-shadow: none;
        color: currentColor;
    }
    svg {
        width: 18px;
        height: 18px;
    }
    .ic-close {
        display: none;
    }

}

.header-search_icon-item {
    position: relative;
    &.active {
        .search-icon {
            .ic-search {
                display: none;
            }
            .ic-close {
                display: inline-block;
            }
        }
    }
    .header-search-modal-wrapper {
        position: absolute;
        top: 100%;
        left: -.9em;
        height: 0px;
        overflow: hidden;
        display: block;
        margin-top: -1px;
        transition: all .2s linear;
        transform: translateY(40px);
    }
    &.search-left {
        .header-search-modal-wrapper {
            left: auto;
            right: -.9em;
        }
        .header-search-modal{
            &::before {
                left: auto;
                right: 15px;
            }
        }
    }
    &.active {
        .header-search-modal-wrapper {
            height: auto;
            overflow: initial;
            z-index: 26;
            transform: translateY(0);
           // transform: translateY( 0 );
        }
    }
}

// Apply for all search form at header
.header-search-form {
    display: flex;
    margin-bottom: 0px;
    width: 100%;
    max-width: 100%;
    label {
        flex-basis: 100%;
    }
    .search-field {
        display: block;
        width: 100%;
        border-radius: 2px;
        height: 2.4em;
    }
    .search-submit {
        overflow: hidden;
        box-shadow: none;
        margin-left: -40px;
        background: transparent;
        color: $color_meta;
        line-height: 0px;
        padding: 0px 0.7em;
        min-height: auto;
        &:hover {
            box-shadow: none;
            background-color: transparent;
            color: $color_text;
        }
        svg {
            width: 18px;
            height: 18px;
        }
    }
    input[type="submit"] {
        min-height: auto;
    }
}

.header-search-modal{
    border: 1px solid $color_border;
    padding: 1.250em;
    background: #fff;
    width: 280px;
    @include for_device( mobile ) {
        width: 220px;
    }
    position: relative;
    margin-top: 15px;
    box-shadow: $boxshadow_dropdown;
    label {
        flex-basis: 100%;
    }
    &::before {
        border-top: 1px solid $color_border;
        border-left: 1px solid $color_border;
        background: #fff;
        content: "";
        display: block;
        position: absolute;
        top: -8px;
        left: 15px;
        width:15px;
        height: 15px;
        transform: rotate(45deg);
        z-index: 27;
    }
}