/* Social Icons */
.customify-builder-social-icons {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    list-style: none;
    position: relative;
    li {
        list-style: none;
        display: inline-block;
        margin: 0px 5px;
        &:last-child {
            margin-right: 0px;
        }
        &:first-child {
            margin-left: 0px;
        }
    }

    a {
        color: currentColor;
        padding: 0px;
        border-radius: 3px;
        text-align: center;
        vertical-align: middle;
        width: 100%;
        height: 100%;
        display: inline-block;

        i {
            font-size: 16px;
            display: block;
        }
        &:hover {
            color: $color_secondary;
        }
    }

    &.is-size-s a {
        position: relative;
        top: -2.5px;
    }

    &.is-style-plain {
        &.is-size-s a i { font-size: 13px }
        &.is-size-l a i { font-size: 22px }
        &.is-size-xl a i { font-size: 28px }
    }

    &.is-style-outline-square {
        a {
            border: 1px solid;
            i {
                width: 27px;
                height: 27px;
                line-height: 27px;
                font-size: 17px;
            }
            &:hover {
                color: $color_secondary;
                border-color: $color_secondary;
            }
        }
        &.is-size-s a i { font-size: 12px; width: 18px; height: 18px;line-height: 18px;}
        &.is-size-l a i { font-size: 22px; width: 30px; height: 30px;line-height: 30px;}
        &.is-size-xl a i { font-size: 24px; width: 34px; height: 34px;line-height: 34px;}
    }
    &.is-style-fill-square {
        a {
            background: #999999;
            color: #FFFFFF;
            i {
                width: 27px;
                height: 27px;
                line-height: 27px;
                font-size: 17px;
            }
            &:hover {
                //background: $color_secondary;
                box-shadow: inset 0 0 0 120px rgba(0,0,0,0.18);
            }
        }
        &.is-size-s a i { font-size: 12px; width: 18px; height: 18px;line-height: 18px;}
        &.is-size-l a i { font-size: 22px; width: 30px; height: 30px;line-height: 30px;}
        &.is-size-xl a i { font-size: 24px; width: 34px; height: 34px;line-height: 34px;}
    }

    &.is-style-outline-rounded {
        a {
            border: 1px solid;
            border-radius: 999px;
            i {
                width: 27px;
                height: 27px;
                line-height: 27px;
                font-size: 17px;
            }
            &:hover {
                &:hover {
                    color: $color_secondary;
                    border-color: $color_secondary;
                }
            }
        }
        &.is-size-s a i { font-size: 12px; width: 18px; height: 18px;line-height: 18px;}
        &.is-size-l a i { font-size: 22px; width: 30px; height: 30px;line-height: 30px;}
        &.is-size-xl a i { font-size: 24px; width: 34px; height: 34px;line-height: 34px;}
    }

    &.is-style-fill-rounded {
        a {
            //border: 1px solid currentColor;
            background: #999999;
            color: #FFFFFF;
            border-radius: 999px;
            i {
                width: 27px;
                height: 27px;
                line-height: 27px;
                font-size: 17px;
            }
            &:hover {
                &:hover {
                    background: $color_secondary;
                }
            }
        }
        &.is-size-s a i { font-size: 12px; width: 18px; height: 18px;line-height: 18px;}
        &.is-size-l a i { font-size: 22px; width: 30px; height: 30px;line-height: 30px;}
        &.is-size-xl a i { font-size: 24px; width: 34px; height: 34px;line-height: 34px;}
    }
}

