/* Social Icons */

.customify-builder-social-icons {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    list-style: none;
    position: relative;
    li {
        list-style: none;
        display: inline-block;
        margin: 0px 3px;
        &:last-child {
            margin-right: 0px;
        }
        &:first-child {
            margin-left: 0px;
        }
    }

    &.color-default {
        a {
            color: #fff;
            &:hover {
                color: #fff;
            }
        }
    }

    a {
        color: currentColor;
        text-align: center;
        vertical-align: middle;
        width: 100%;
        //height: 100%;
        padding: 0.4em;
        display: inline-block;
        line-height: 1;
        font-size: 13px;
        i {
            width: 1em;
            height: 1em;
            position: relative;
            display: block;
            &:before {
                position: absolute;
                left: 50%;
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);
            }
        }
        &:hover {
            opacity: .9;
            color: inherit;
        }
    }
}

$socials-list: (
    'apple': #999999,
    'behance': #1769ff,
    'bitbucket': #205081,
    'codepen': #000000,
    'delicious': #3399ff,
    'digg': #005be2,
    'dribbble': #ea4c89,
    'envelope': #ea4335,
    'facebook': #3b5998,
    'flickr': #0063dc,
    'foursquare': #2d5be3,
    'github': #333333,
    'google-plus': #dd4b39,
    'houzz': #7ac142,
    'instagram': #262626,
    'jsfiddle': #487AA2,
    'linkedin': #0077b5,
    'medium': #00ab6b,
    'odnoklassniki': #F4731C,
    'meetup': #ec1c40,
    'pinterest': #bd081c,
    'product-hunt': #da552f,
    'reddit': #ff4500,
    'rss': #f26522,
    'shopping-cart': #4CAF50,
    'skype': #00AFF0,
    'slideshare': #0077b5,
    'snapchat': #fffc00,
    'soundcloud': #ff8800,
    'spotify': #2ebd59,
    'stack-overflow': #fe7a15,
    'telegram': #2CA5E0,
    'tripadvisor': #589442,
    'tumblr': #35465c,
    'twitch': #6441A5,
    'twitter': #1DA1F2,
    'vimeo': #1ab7ea,
    'vk': #45668e,
    'weibo': #df2029,
    'weixin': #7bb32e,
    'whatsapp': #25d366,
    'wordpress': #21759b,
    'xing': #026466,
    'yelp': #af0606,
    'youtube': #cd201f,
);

.customify-builder-social-icons {
    @each $social-key, $color in $socials-list {
        [class*="social-icon-#{$social-key}"] {
            background-color: $color;
            &.shape-none {
                background-color: transparent;
                color: $color;
            }
        }
    }
}


