$blog_gutter: $gl-gutter;

.bypostauthor {
    display: inline-block;
}

.entry-title {
    word-wrap: break-word;
}

.entry-meta {
    color: $color_meta;
    font-size: 85%;
    a {
        color: $color_meta;
        &:hover {
            color: $color_link;
        }
    }
    > span {
        display: inline-block;
    }
    .sep {
        margin-left: 3px;
        margin-right: 3px;
    }

    .author {
        img {
            vertical-align: middle;
            overflow: hidden;
            border-radius: 50%;
            margin-right: 5px;
        }
    }
}


.posts-layout {
    .entry {
        margin-bottom: 2em;
    }
    .entry--item {
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0px;
        }
    }

    .entry-inner {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        width: 100%;
        @include for_device( mobile ){
            display: block;
        }
    }

    .entry-media {
        position: relative;
        max-width: 100%;
        flex-basis: 40%;
        padding-top: 0;
        overflow: hidden;
        @include for_device( mobile ){
            margin-bottom: 1em;
            width: 100% !important;
            padding-top: 56.25%; // 16:9
        }
    }
    .entry-thumbnail {
        position: absolute;
        top: 0px;
        bottom: 0px;
        width: 100%;
        height: 100%;
        display: flex;
        line-height: 0;
        background-color: #d5d5d5;
        img {
            object-fit: cover;
            width: 100%;
            height: auto;
        }
        a {
            position: absolute;
            top: 0px;
            top: 0px;
            display: block;
        }
    }
    .entry-title {
        font-size: 1.4em;
        color: $color_text;
        word-wrap: break-word;
        display: flex;
        align-items: center;
        a {
            color: inherit;
            text-align: inherit;
            display: block;
            flex-basis: 100%;
            &:hover {
                color: $color_link;
            }
        }
    }
    .entry-excerpt {
        p{
            &:last-child {
                margin-bottom: 0px;
            }
        }
    }
    .entry-media-link {
        position: absolute;
        top: 0; left: 0; right: 0; bottom: 0; display: block;
        z-index: 30;
    }
    .entry-content-data {
        flex: 1;
        word-wrap: break-word;
        max-width: 100%;
    }

    .entry-readmore {
        margin-top: 1em;
    }

    .entry-cat {
        top: 0;
        display: block;
        a {
            color: inherit;
            &:hover {
                color: inherit;
            }
        }
    }

    .readmore-button {
        display: inline-block;
        line-height: 1;
        border: 1px solid #cccccc;
        color: $color_meta;
        border-radius: 2px;
        cursor: pointer;
        padding: 7px 13px;
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 0.3px;
        transition: transform .18s, border .18s, background .18s, box-shadow .18s, opacity .18s, color .18s;
        &:hover {
            color: $color_primary;
            border-color: $color_primary;
        }
    }

    .entry-content-data {
        display: flex;
        flex-flow: column nowrap;
    }
    .entry-article-part {
        position: relative;
        width: 100%;
        margin-bottom: 15px;
        &:first-child {
            margin-top: 0;
        }
        &.entry-article-media {
            flex: none;
            position: absolute;
            top: 0px;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        &.entry-article-footer{
            display: flex;
            margin-top: auto;
            margin-bottom: 0px;
            justify-content: space-between;
            &.only-more {
                .entry-readmore {
                    width: 100%;
                }
            }
        }
    }

    .entry-article-footer {
        align-items: center;
        > *, .entry-meta {
            margin-bottom: 0px;
            margin-top: 0px;
            display: inline-block;
        }
    }
    .entry-thumbnail {
        transition: all .3s linear;
        img {
            transition: all .3s linear;
        }
        &:before {
            transition: all .3s linear;
            content: "";
            display: block;
            position: absolute;
            top: 0px; left: 0px; bottom: 0px; right: 0px;
            z-index: 2;
        }
    }
    .entry-article-media {
        z-index: 5;
    }

    // Media content align
    .mc-bottom {
        .media-content-inner {
            position: absolute;
            left: 0px;
            bottom: 0px;
            width: 100%;
            display: block;
        }
    }
    .mc-top {
        .media-content-inner {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            display: block;
        }
    }
    .mc-center {
        .media-content-inner {
            position: absolute;
            left: 0px;
            top: 0px;
            bottom: 0px;
            right: 0px;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }


    &.layout-- {

        &blog_column, &blog_boxed {
            .entry-inner {
                display: block;
                .entry-content-data, .entry-article-header {
                    display: flex;
                    flex-direction: column;
                }
            }
        }

        &blog_classic {
            .entry-media {
                margin-right: $blog_gutter;
                @include for_device( mobile ) {
                    margin-right: 0px;
                }
            }
        }


        &blog_column, &blog_boxed {
            .entry-media {
                padding-top: 40%;
            }
            .entry {
                display: block;
            }
            .sticky {
                .entry-content-data {
                    background-color: #fcf8e3;
                    border: 1px solid #faf2cc;
                    border-top: 0px none;
                    color: #8a6d3b;
                    padding: 1em;
                }
            }
            .entry-media {
                margin-bottom: 1em;
                display: block;
                position: relative;
            }
        }

        &blog_boxed {
            .entry-content-data {
                padding: ( $blog_gutter /2 );
            }
        }

    }

}


//--------------------------------------------














// Pagination
.pagination {
    margin: 30px auto;
    display: block;
    .nav-links {
        > * {
            border: 1px solid $color_border ;
            color: $color_meta;
            padding: 4px 12px 4px;
            border-radius: 1px;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 0.8px;
            font-size: 13px;
            display: inline-block;
            &:hover {
                border-color: $color_primary;
                background: $color_primary;
                color: #FFFFFF;
            }
        }
        span {
            border-color: $color_primary;
            background: $color_primary;
            color: #FFFFFF;
        }
    }
}

// Single post
.single {
    .entry-meta {
        margin-bottom: ms(1);
    }
    .entry-footer {
        margin-bottom: ms(2);
    }
}

.entry-content {
    a {
        &:hover {
            text-decoration: underline;
        }
    }
    .page-links {
        display: block;
        margin: 5px 0px 20px;
        font-weight: 500;
        a {
            border: 1px solid $color_border;
            padding: 5px 12px 5px;
            text-transform: uppercase;
            color: $color_text;
            margin: 0px 2px;
        }
    }
    .table-wrapper {
        max-width: 100%;
        overflow: auto;
    }
}

.entry-single {
    .entry--item:not( .entry-title ), .entry-thumbnail {
        margin-bottom: 1.41575em;
        &:last-child, p:last-child {
            margin-bottom: 0px;
        }
    }
    .tags-links, .cat-links {
        margin-top: ms(-3);
        a {
            padding: 3px 8px 4px;
            margin: 0 6px 7px 0;
            border: 1px solid $color_border;
            color: $color_meta;
            display: inline-block;
            font-size: 13px;
            -webkit-border-radius: 1px;
            -moz-border-radius: 1px;
            border-radius: 1px;
            &:hover {
                background: $color_primary;
                border-color: $color_primary;
                color: #ffffff;
            }
        }
    }
    .edit-link {
        display: block;
        width: 100%;
        margin-top: ms(-3);
        a {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 13px;
            letter-spacing: 0.8px;
        }
    }
}

.nav-links {
    @include clearfix();
    .nav-previous, .nav-next {
        width: 49%;
        a {
            color: $color_text;
            &:hover {
                color: $color_link;
            }
            > span {
                font-size: 80%;
                color: $color_text;
                display: block;
            }
        }

    }
    .nav-previous {
        float: left;
        text-align: left;
    }
    .nav-next {
        float: right;
        text-align: right;
    }
}

// Comment
.comments-area {
    margin-top: ( $blog_gutter / 1.5 );
    padding-top: ( $blog_gutter / 2 );
    border-top: 1px solid $color_border;
}
.comment-author {
    display: block;
}
.comment-time-wrap {
    display: inline-block;
}
.comment-list {
    article.comment {
        margin-bottom: 0px;
    }
}