$blog_gutter: $gl-gutter;

.bypostauthor {
    display: inline-block;
}

.entry-meta {
    margin-bottom: 0.7em;
    color: $color_meta;
    font-size: 85%;
    a {
        color: $color_text;
        &:hover {
            color: $color_link;
        }
    }
    > span {
        display: inline-block;
    }
    .sep {
        margin-left: 3px;
        margin-right: 3px;
    }

}

.posts-layout {

    .entry {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        margin-bottom: $blog_gutter;
        @include for_device( mobile ){
            display: block;
        }
    }

    .entry-media {
        position: relative;
        max-width: 100%;
        flex-basis: 50%;
        padding-top: 55%;
        overflow: hidden;
        @include for_device( mobile ){
            margin-bottom: 1em;
        }
        .entry-meta {
            position: absolute;
            bottom: 0px;
            left: 0px;
            margin-bottom: 0px;
            font-size: 80%;
            background: $color_text;
            color: #fff;
            padding: 1px 5px;
            a {
                color: inherit;
            }
        }
    }
    .entry-thumbnail {
        position: absolute;
        top: 0px;
        bottom: 0px;
        width: 100%;
        height: 100%;
        display: flex;
        line-height: 0;
        background-color: #d5d5d5;
        img {
            object-fit: cover;
            width: 100%;
            height: auto;
        }
    }
    .entry-content-data {
        flex: 1;
        word-wrap: break-word;
    }
    .entry-title {
        font-size: 1.4em;
        font-weight: 400;
        color: $color_text;
        a {
            color: inherit;
            &:hover {
                color: $color_link;
            }
        }
    }
    .entry-readmore {
        margin-top: 1em;
    }
    .readmore-button {
        display: inline-block;
        border: none;
        background: $color_primary;
        color: #FFFFFF;
        cursor: pointer;
        padding: 9px 14px;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        transition: transform .3s, border .3s, background .3s, box-shadow .3s, opacity .3s, color .3s;
        line-height: 1;
        border-radius: 1px;
        &:hover {
            color: #fff;
            background: $color_secondary;
        }
    }

    &.layout-- {
        &blog_classic, &blog_lateral, &blog_classic_rounded {
            .entry-media {
                margin-right: ( $blog_gutter / 2 );
            }
        }

        &blog_lateral{
            .entry {
                &.even {
                    .entry-content-data {
                        order: 1;
                    }
                    .entry-media {
                        order: 3;
                        margin-left: ( $blog_gutter / 2 );
                        margin-right: 0;
                    }
                }
            }
        }

        &blog_classic_rounded {
            .entry-thumbnail {
                border-radius: 50%;
                overflow: hidden;
            }
        }

        &blog_2column, &blog_column, &blog_boxed {
            .entry {
                display: block;
            }
            .sticky {
                .entry-content-data {
                    background-color: #fcf8e3;
                    border: 1px solid #faf2cc;
                    border-top: 0px none;
                    color: #8a6d3b;
                    padding: 1em;
                }
            }
            .has-post-thumbnail {
                .entry-content-data {
                    padding-top: 1em;
                }
            }
            .entry-media {
                display: block;
                position: relative;
                margin-bottom: 0;
            }
        }

        &blog_boxed {
            .entry-content-data {
                padding: ( $blog_gutter /2 );
            }
        }

        &blog_masonry {
            -webkit-column-count: 3;
            column-count: 3;
            -webkit-column-gap:0;
            column-gap: 0;
            display: block;
            margin-left: -($gl-gutter/2);
            margin-right: -($gl-gutter/2);
            .entry {
                display: inline-block;
                margin-bottom: ($gl-gutter);
                padding-left: ($gl-gutter/2);
                padding-right: ($gl-gutter/2);
            }
            .entry-media {
                display: block;
                padding-top: 0 !important;
                position: relative;
                min-width: 100%;
                margin-bottom:  ( $blog_gutter /2 );
            }
            .entry-thumbnail {
                position: relative;
                display: block;
                height: auto;
                line-height: 0;
            }
            img {
                object-fit: fill;
            }
        }

    }

}

// Pagination
.pagination {
    margin: 30px auto;
    display: block;
    .nav-links {
        > * {
            border: 1px solid $color_border ;
            color: $color_meta;
            padding: 4px 12px 4px;
            border-radius: 1px;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 0.8px;
            font-size: 13px;
            display: inline-block;
            &:hover {
                border-color: $color_primary;
                background: $color_primary;
                color: #FFFFFF;
            }
        }
        span {
            border-color: $color_primary;
            background: $color_primary;
            color: #FFFFFF;
        }
    }
}

// Single post
.single {
    .entry-meta {
        margin-bottom: ms(1);
    }
    .entry-footer {
        margin-bottom: ms(2);
    }
}

.entry-content {
    a {
        &:hover {
            text-decoration: underline;
        }
    }
    .page-links {
        display: block;
        margin: 5px 0px 20px;
        font-weight: 500;
        a {
            border: 1px solid $color_border;
            padding: 5px 12px 5px;
            text-transform: uppercase;
            color: $color_text;
            margin: 0px 2px;
        }
    }
}

.entry-footer {
    .tags-links, .cat-links {
        margin-top: ms(-3);
        a {
            padding: 3px 8px 4px;
            margin: 0 6px 7px 0;
            border: 1px solid $color_border;
            color: $color_meta;
            display: inline-block;
            font-size: 13px;
            -webkit-border-radius: 1px;
            -moz-border-radius: 1px;
            border-radius: 1px;
            &:hover {
                background: $color_primary;
                border-color: $color_primary;
                color: #ffffff;
            }
        }
    }
    .edit-link {
        display: block;
        width: 100%;
        margin-top: ms(-3);
        a {
            text-transform: uppercase;
            font-weight: 600;
            font-size: 13px;
            letter-spacing: 0.8px;
        }
    }
}


.nav-links {
    @include clearfix();
    .nav-previous, .nav-next {
        width: 49%;
        a {
            color: $color_text;
            &:hover {
                color: $color_link;
            }
            > span {
                font-size: 80%;
                color: $color_text;
                display: block;
            }
        }

    }
    .nav-previous {
        float: left;
        text-align: left;
    }
    .nav-next {
        float: right;
        text-align: right;
    }
}

// Comment
.comments-area {
    margin-top: ( $blog_gutter / 1.5 );
    padding-top: ( $blog_gutter / 2 );
    border-top: 1px solid $color_border;
}
.comment-author {
    display: block;
}
.comment-time-wrap {
    display: inline-block;
}
.comment-list {
    article.comment {
        margin-bottom: 0px;
    }
}