/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Layouts Helper
# Layout: content-sidebar
# Layout: sidebar-content
# Layout: sidebar-sidebar-content
# Layout: content-sidebar-sidebar
# Layout: sidebar-content-sidebar
*/

/* # Layouts Helper */
.site {
    //overflow: hidden;
   // background: #ffffff;
}

/************************
    HIDING COLS FOR DEVICES
*************************/
@each $mq-key, $mq-value in $gl-devices-list {
    @media #{$mq-value} { //_#{$mq-key}
        .hide-on-#{$mq-key},
        .customify-grid .hide-on-#{$mq-key} { display: none; }
        .align-left-#{$mq-key} { text-align: left; }
        .align-center-#{$mq-key} { text-align: center; }
        .align-right-#{$mq-key} { text-align: right; }
    }
}

.no-box-shadow {
    box-shadow: none !important;
}

// Site boxed layout.
.site-boxed, .site-framed {
    .site {
        max-width: 1248px;
        box-shadow: 0 3px 6px -4px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
        margin: 0 auto;
    }
}

// Site framed layout.
.site-framed {
    .site {
        margin-top: 30px;
        margin-bottom: 30px;
    }
}


.customify-container {
     position: relative;
     padding-left: 1.5em;
     padding-right: 1.5em;
     @include clearfix;
}
.customify-container, .layout-contained{
    max-width: $container_width; // 1200px
    margin: 0 auto;
}


.site-content {
    //background: darken($background_body, 1%);
}

#sidebar-secondary, #sidebar-primary, #main {
    padding-top: 3em;
    padding-bottom: 3em;
}

/*-- Layout: content-sidebar --*/
.content-sidebar {
    @include mq(min-sm) {
        &.sidebar_vertical_border {
            .content-area {
                border-right: 1px solid $color_border;
            }
            //.content-inner {
            //    padding-right: ms(-2);
            //}
            //.sidebar-primary-inner {
            //    padding-left: ms(-2);
            //}
        }
    }
}

/*-- Layout: sidebar-content --*/
.sidebar-content {
    @include mq(min-sm) {
        &.sidebar_vertical_border {
            .content-area {
                border-left: 1px solid $color_border;
            }
            //.content-inner {
            //    padding-left: ms(-2);
            //}
            //.sidebar-primary-inner {
            //    padding-right: ms(-2);
            //}
        }
    }
}

/*-- Layout: sidebar-sidebar-content --*/
.sidebar-sidebar-content {
    @include mq(min-sm) {
        &.sidebar_vertical_border {
            .content-area {
            }
            .sidebar-primary {
                border-right: 1px solid $color_border;
            }
            .sidebar-secondary {
                border-right: 1px solid $color_border;
            }
            //.content-inner {
            //    padding-left: ms(-2);
            //}
            //.sidebar-primary-inner {
            //    padding-right: ms(-2);
            //}
            //.sidebar-secondary-inner {
            //    padding-left: ms(-2);
            //    padding-right: ms(-2);
            //}
        }
    }
}


/*-- Layout: content-sidebar-sidebar --*/
.content-sidebar-sidebar {
    // Layout with vertical border, only for large screen
    @include mq(min-sm) {
        &.sidebar_vertical_border {
            .content-area {
            }
            .sidebar-primary {
                border-left: 1px solid $color_border;
            }
            .sidebar-secondary {
                border-left: 1px solid $color_border;
            }
            //.content-inner {
            //    padding-right: ms(-2);
            //}
            //.sidebar-primary-inner {
            //    padding-left: ms(-2);
            //    padding-right: ms(-2);
            //}
            //.sidebar-secondary-inner {
            //    padding-left: ms(-2);
            //}
        }
    }
}

/*-- Layout: sidebar-content-sidebar --*/
.sidebar-content-sidebar {
    // Layout with vertical border, only for large screen
    @include mq(min-sm) {
        &.sidebar_vertical_border {
            .content-area {
                border-left: 1px solid $color_border;
                border-right: 1px solid $color_border;
            }
            //.content-inner {
            //    padding-left: ms(-2);
            //    padding-right: ms(-2);
            //}
            //.sidebar-primary-inner {
            //    padding-left: ms(-2);
            //}
            //.sidebar-secondary-inner {
            //    padding-right: ms(-2);
            //}
        }
    }
    @include mq(max-md) {
        &.sidebar_vertical_border {
            .content-inner {
                padding-left: 0;
            }
        }
    }
}



