/* Page Mics */
.archive, .search {
    .page-title {
        margin-bottom: 35px;
        padding-bottom: 20px;
        border-bottom: 1px solid $color_border;
    }
}

/* Search Page */
.search {
    .content-area {
        .entry-summary p:last-child {
            margin-bottom: 0px;
        }
    }
}

/* 404 Page */