/*--------------------------------------------------------------
# Container
--------------------------------------------------------------*/
._beacon-container {
     position: relative;
     max-width: 1140px;
     margin: 0 auto;
     padding-left: ms(0);
     padding-right: ms(0);
     @include clearfix;
}

/*--------------------------------------------------------------
# Site layouts
--------------------------------------------------------------*/
.site-content {
    padding: ms(4) 0px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.site-footer {
    padding: ms(3) 0px;
    background: #222222;
    color: #eeeeee;
}

