.site-header {
    position: relative;
}

.site-branding {
    float: left;
    img {
        display: block;
        width: auto;
    }
    .site-title {
        font-size: 1.9em;
        margin: 0;
        font-weight: 500;
        line-height: 1.216;
    }
    .site-description {
        font-size: ms(-1);
        margin: 3px 0px 0px 0px;
    }
}

