/* Header Builder Common */
.site-header {
    position: relative;
    .customify-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.builder-item {
    .item--inner {
        display: inline-block;
        vertical-align: middle;
    }
    &.builder-item--group {
        .item--inner {
            margin-right: ($gl-gutter/2);
            &:last-child {
                margin-right: 0px;
            }
        }
    }
}

.header--row {
    .customify-grid {
    }
    &.layout-full-contained {
        .customify-container {
            background: transparent !important;
        }
    }
    &.layout-full-contained, &.layout-fullwidth {
        .customify-container {
            border: 0 none !important;
            box-shadow: none !important;
        }
    }
    @include for_device( desktop ){
        &.layout-contained {
            background: transparent !important;
            border: 0 none;
            box-shadow: none !important;
            .customify-container {
                margin-left: 1.5em;
                margin-right: 1.5em;
            }
        }
    }
    &.layout-fullwidth {
        .customify-container {
            max-width: initial;
            box-shadow: none !important;
        }
    }
}

/* Customizer Shortcut */
#masthead, #header-menu-sidebar {
    .customize-partial-edit-shortcut {
        display: none;
    }
}
#masthead{
    > .customize-partial-edit-shortcut {
        &.customize-partial-edit-shortcut-header_builder_panel {
            display: none;
        }
        button {
            left: 0px;
        }
    }
}

