.site-header {
    position: relative;
}

@import "header_top";
@import "header_main";
@import "header_bottom";
@import "header_builder_items";
@import "navigation";

/* customizer shortcut */
#masthead{
    > .customize-partial-edit-shortcut {
        &.customize-partial-edit-shortcut-header_builder_panel {
            display: none;
        }
        button {
            left: 0px;
        }
    }
}