/* Header Builder Common */
.site-header {
    position: relative;
    .customify-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.builder-item {
    .item--inner {
        display: inline-block;
        vertical-align: middle;
    }
    &.builder-item--group {
        .item--inner {
            margin-right: ($gl-gutter/2);
            @include for_device( tablet ) {
                margin-right: 1.0em;
            }
            @include for_device( mobile ) {
                margin-right: .5em;
            }
            &:last-child {
                margin-right: 0px;
            }
        }
    }
}

.header--row {
    .customify-grid {
    }
    &.layout-full-contained {
        .customify-container {
            background: transparent !important;
        }
    }
    &.layout-full-contained, &.layout-fullwidth {
        .customify-container {
            border: 0 none !important;
            box-shadow: none !important;
        }
    }
    @include for_device( desktop ){
        &.layout-contained {
            background: transparent !important;
            border: 0 none;
            box-shadow: none !important;
            .customify-container {
                margin-left: 1.5em;
                margin-right: 1.5em;
            }
        }
    }
    &.layout-fullwidth {
        .customify-container {
            max-width: initial;
            box-shadow: none !important;
        }
    }
}


// Titlebar
.page-titlebar {
    background-color: #f8f9f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0px;
    border-bottom: 1px solid $color_border;
    .page-titlebar-inner {
        width: 100%;
    }
    .titlebar-title {
        margin-bottom: 0px;
        font-size: ms(4);
        line-height: 1.216;
    }
}


// Breadcrumbs
.page-breadcrumb {
    padding: 15px 0px;
    font-size: 1em;
    border-bottom: 1px solid $color_border;
    color: #858585;
    .page-breadcrumb-inner {
        width: 100%;
    }
}
.page-breadcrumb-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    li {
        display: inline-block;
        position: relative;
        padding-right: 30px;
        &:after {
            font-family: fontawesome;
            content: "\f105";
            position: absolute;
            right: 10px;
        }
        &:last-child {
            &:after {
                display: none;
            }
        }
    }
}
.page-titlebar {
    .page-breadcrumb-inner {
        padding-left: 0;
        padding-right: 0;
    }
    .page-breadcrumb {
        border-bottom: none;
        padding-bottom: 0px;
    }
}


/* Customizer Shortcut */
#masthead, #header-menu-sidebar {
    .customize-partial-edit-shortcut {
        display: none;
    }
}
#masthead{
    > .customize-partial-edit-shortcut {
        &.customize-partial-edit-shortcut-header_builder_panel {
            display: none;
        }
        button {
            left: 0px;
        }
    }
}

