/* Header Builder Rows */
.site-header {
    position: relative;
    .customify-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.header--row {
    .customify-grid {
    }
    &.layout-full-contained {
        .customify-container {
            background: transparent !important;
        }
    }
    &.layout-full-contained, &.layout-fullwidth {
        .customify-container {
            border: 0 none !important;
        }
    }
    @include for_device( desktop ){
        &.layout-contained {
            background: transparent !important;
            border: 0 none;
            .customify-container {
                margin-left: 1.5em;
                margin-right: 1.5em;
            }
        }
    }
    &.layout-fullwidth {
        .customify-container {
            max-width: initial;
        }
    }
}


/* Logo & Site Identity */
.site-branding {
    display: inline-block;
    line-height: .9;
    vertical-align: middle;
    a {
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 0.4px;
        font-weight: 600;
    }
    img {
        display: block;
        width: auto;
        line-height: 1;
    }
    .site-title {
        font-size: 1.7em;
        margin: 0;
        font-weight: 600;
        line-height: 1.216;
    }
    .site-description {
        font-size: ms(-1);
        margin: 4px 0px 7px 0px;
    }
}
.item-button {
    display: inline-block;
}


/* Icon List */
.header-icon-list-item {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: inline-block;
    li {
        display: inline-block;
        margin-right: 10px;
        &:last-child {
            margin-right: 0px;
        }
        i {
            margin-right: 5px;
        }
    }
}

/* HTML */
.item--html {
    p {
        &:last-child {
            margin-bottom: 0px;
        }
    }
}

/*
* Close Button
*-------------------------------
*/
$close_size: 35px;
.mobile-sidebar-panel {
    .close {
        z-index: 36;
        cursor: pointer;
        position: absolute;
        top: 20px;
        right: 20px;
        height: $close_size;
        width: $close_size;
        box-sizing: border-box;
        line-height: $close_size;
        display: inline-block;

        &:before, &:after {
            transform: rotate(-45deg);
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            margin-top: -1;
            margin-left: -$close_size/2;
            display: block;
            height: 2px;
            width: $close_size;
            background-color: #fff;
            transition: all 0.2s ease-out;
        }

        &:after {
            transform: rotate(45deg);
        }
    }
}






/*
* Icon List
*-------------------------------
*/
.header-icon-list-item {
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: inline-block;
    li {
        display: inline-block;
        margin-right: 10px;
        &:last-child {
            margin-right: 0px;
        }
        i {
            margin-right: 5px;
        }
    }
}

/*
* HTML
*-------------------------------
*/
.item--html {
    p {
        &:last-child {
            margin-bottom: 0px;
        }
    }
}

/*
* Social Icon
*-------------------------------
*/
.header-social-icons {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    list-style: none;
    li {
        list-style: none;
        display: inline-block;
        margin-right: 10px;
        &:last-child {
            margin-right: 0px;
        }
    }
}

/*
* Search
*-------------------------------
*/
.header-search-form {
    margin: 0px;
    .search-form-inner {
        display: flex;
    }
    .s {
        width: 100%;
    }
}

.mobile-search-form-sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    display: block;
    z-index: 300;
    background: #444444;

    transform: translateX(100%);
    transition: transform .5s cubic-bezier(.79,.14,.15,.86);
    //left: 0;
    visibility: visible;
    .search-form-inner {
        padding: 15% 20px;
        text-align: center;
    }
    .search-submit {
        display: inline-block;
        margin: 15px auto 0;
    }

}
.display-mobile-form-panel {
    .mobile-search-form-sidebar {
        &.builder-item--search-show {
            height: auto;
            overflow: auto;
            transform: translate3d(0, 0, 0);
            left: 0;
            visibility: visible;
        }
    }
}

