.header-top {
    padding: 0;
    background: #333333;
    color: #ffffff;
    text-size-adjust: 100%;
    line-height: 13px;
    .customify-grid .item--html{
        font-size: 15px;
    }
    .item--html {
        line-height: 1.3;
    }
}