.header-top {
    padding: 0;
    background: $color_primary;
    color: #ffffff;
    text-size-adjust: 100%;
    line-height: 13px;
    .customify-grid {
        font-size: 13px;
    }
    .item--html {
        line-height: 1.3;
    }
}