._beacon--hide {
  display: none !important; }

.customize-control-_beacon-device_select {
  display: none !important; }

._beacon--device-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 20;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 5px 0 0; }
  ._beacon--device-select a {
    padding: 5px 10px;
    border: 1px solid #ddd;
    background: #ddd;
    border-bottom: 0px none;
    display: block;
    margin-bottom: -1px;
    margin-right: 10px;
    text-decoration: none;
    outline: none !important;
    box-shadow: none !important;
    color: #555d66; }
    ._beacon--device-select a._beacon--active {
      background: #EEEEEE; }

/*
._beacon--device-show {
    &._beacon--device-general {

    }
    &._beacon--device-mobile {
        display: none;
    }
}
*/
._beacon--repeater-items {
  margin-top: 15px;
  margin-bottom: 15px; }
  ._beacon--repeater-items ._beacon--repeater-item-inner {
    padding: 10px; }
  ._beacon--repeater-items ._beacon--remove {
    padding: 0 10px 10px;
    display: inline-block; }
  ._beacon--repeater-items ._beacon--repeater-item-heading {
    background: #FFF;
    padding: 10px;
    position: relative;
    min-height: 18px;
    display: block; }
  ._beacon--repeater-items ._beacon--repeater-live-title {
    white-space: nowrap;
    margin-right: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block; }
  ._beacon--repeater-items ._beacon--repeater-item {
    border: 1px solid #ddd;
    background: #ffffff;
    margin-bottom: 10px; }
    ._beacon--repeater-items ._beacon--repeater-item:last-child {
      margin-bottom: 0px; }
    ._beacon--repeater-items ._beacon--repeater-item ._beacon--repeater-item-toggle {
      position: absolute;
      top: 0px;
      bottom: 0px;
      right: 0px;
      text-decoration: none;
      width: 32px;
      display: block;
      text-align: center;
      color: #555d66;
      box-shadow: none !important; }
      ._beacon--repeater-items ._beacon--repeater-item ._beacon--repeater-item-toggle:before {
        font: 400 20px/37px dashicons;
        content: "\f140"; }
    ._beacon--repeater-items ._beacon--repeater-item ._beacon--repeater-item-settings {
      display: none; }
    ._beacon--repeater-items ._beacon--repeater-item._beacon--open ._beacon--repeater-item-heading {
      border-bottom: 1px solid #ddd; }
    ._beacon--repeater-items ._beacon--repeater-item._beacon--open ._beacon--repeater-item-settings {
      display: block; }
    ._beacon--repeater-items ._beacon--repeater-item._beacon--open ._beacon--repeater-item-toggle:before {
      content: "\f142"; }

._beacon--field {
  margin-bottom: 15px; }
  ._beacon--field:last-child {
    margin-bottom: 0px; }
  ._beacon--field label {
    display: block; }
  ._beacon--field textarea {
    width: 100%; }
  ._beacon--field .wp-picker-container input[type=text].wp-color-picker {
    width: 65px !important; }

._beacon--css-unit {
  display: block;
  margin-bottom: 5px; }
  ._beacon--css-unit label {
    display: inline-block;
    margin-right: 5px;
    text-transform: uppercase;
    padding: 0px 5px;
    font-size: 11px; }
    ._beacon--css-unit label:first-child {
      margin-left: -5px; }
    ._beacon--css-unit label._beacon--label-active {
      font-weight: bold; }
  ._beacon--css-unit input {
    display: none; }

._beacon--css-ruler {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -2px;
  margin-right: -2px; }
  ._beacon--css-ruler > span {
    padding: 0px 2px; }
  ._beacon--css-ruler ._beacon--small-label {
    font-size: 10px;
    display: block;
    text-transform: uppercase; }
  ._beacon--css-ruler label {
    cursor: pointer;
    width: 25px;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    position: relative; }
    ._beacon--css-ruler label input {
      display: none; }
    ._beacon--css-ruler label:before {
      font: 400 18px/37px dashicons;
      content: "\f225";
      position: absolute;
      top: -3px;
      left: 5px;
      display: block; }
    ._beacon--css-ruler label._beacon--label-active:before {
      content: "\f103"; }

._beacon-image-preview {
  margin: 10px 0;
  display: block; }
